.header {
    width: 100%;
    background-color: #6E5EF8;
    height: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

    &-title-item {
        color: #fff;
        font-size: 1.3em;
        padding: 0 1em;
    }

    &-icon-item {
        padding: 0 1em;
    }
    &-icon-item img {
        width: 1.7em;
    }
}