<div class="row">
  <div class="col-12">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Producto</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="sku">
        <th mat-header-cell *matHeaderCellDef> SKU </th>
        <td mat-cell *matCellDef="let element"> {{element.sku}} </td>
      </ng-container>

      <ng-container matColumnDef="barcode">
        <th mat-header-cell *matHeaderCellDef> Código de barras </th>
        <td mat-cell *matCellDef="let element"> {{element.barcode}} </td>
      </ng-container>

      <ng-container matColumnDef="enable">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.enable}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns | paginate: {itemsPerPage: size, currentPage: p, totalItems: dataProducts.length}"></tr>
    </table>
   
  </div>
</div>

<div class="row mt-4 mb-4">
  <div class="col-6">
    Items per page:
    <mat-select [(value)]="size" (valueChange)="paginate(pageIndex)" style="width: 50px;margin-left: 15px">
    <mat-option [value]="1">1</mat-option>
    <mat-option [value]="2">2</mat-option>
    <mat-option [value]="3">3</mat-option>
    <mat-option [value]="4">4</mat-option>
    <mat-option [value]="5">5</mat-option>
    <mat-option [value]="6">6</mat-option>
    <mat-option [value]="7">7</mat-option>
    <mat-option [value]="8">8</mat-option>
    <mat-option [value]="9">9</mat-option>
    <mat-option [value]="10">10</mat-option>
    </mat-select>
  </div>
  <div class="col-6">
    <pagination-controls (pageChange)="p = $event; paginate(p)"></pagination-controls>
  </div>

</div>

<!-- Me he quedado atascadado con el compo de paginator es la primera 
  vez que lo uso, se ve muy chulo y simple, pero me ha faltado tiempo -->

<div class="row">
  <div class="col-12">
    <mat-paginator 
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    >
    </mat-paginator>
  </div>

</div>